<!-- src/app/crear-solicitud/crear-solicitud.component.html -->
<div class="container">
    <h3>{{ isEditMode ? 'Editar' : 'Crear' }} Solicitud para Mascota ID: {{ solicitud.idMascota }}</h3>
    <form (ngSubmit)="onSubmit()" #solicitudForm="ngForm">
      <div class="form-group">
        <label for="cedula">Cédula</label>
        <input type="text" id="cedula" class="form-control" required [(ngModel)]="solicitud.cedula" name="cedula">
      </div>
  
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control" required [(ngModel)]="solicitud.nombre" name="nombre">
      </div>
  
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" class="form-control" required [(ngModel)]="solicitud.apellido" name="apellido">
      </div>
  
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" class="form-control" required [(ngModel)]="solicitud.direccion" name="direccion">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!solicitudForm.form.valid">{{ isEditMode ? 'Actualizar' : 'Enviar' }} Solicitud</button>
    </form>
  </div>
